<% layout("/layout/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br/>  
    <form method="POST" action="/listing" class="mb-4 needs-validation" novalidate enctype="multipart/form-data">
            <div class="input-group mb-4">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input type="text" 
            name="listing[title]"
            class="form-control" 
            placeholder="Enter you title" 
            aria-label="title" 
            aria-describedby="basic-addon1" 
            required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Title Requirede!</div>
        </div>

        <div class="input-group mb-4">
        <input type="text" 
                class="form-control" 
                name="listing[description]" 
                placeholder="Description" 
                aria-label="description" 
                aria-describedby="basic-addon2" 
                required>
            <div class="invalid-feedback">Description Requirede!</div>
        </div>
        <div class="mb-4">
        <label for="basic-url" class="form-label">Upload Image</label>
        <div class="input-group">
            <input type="file"
            class="form-control"
            name="listing[image]"
            id="basic-url">
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
        <div class="input-group mb-4">
        <span class="input-group-text"> Price : &#8377;</span>
        <input name="listing[price]" class="form-control" aria-label="Amount" required>
        <div class="invalid-feedback">Please enter valid price!</div>
        <span class="input-group-text">.00</span>
        </div>
        </div>
         <div class="col-md-8">
         <div class="input-group mb-3">
            <input type="text" 
                name="listing[country]" 
                class="form-control" 
                placeholder="Country" 
                aria-label="country" 
                required>
                <div class="invalid-feedback">Please enter valid Country!</div>
        </div>
        </div>
        </div>
       <div class="input-group mb-3">
        <input type="text" name="listing[location]" class="form-control" placeholder="Location" aria-label="location" required>
        <div class="invalid-feedback">Please enter valid location!</div>
        </div>
        <button class="btn btn-primary">ADD</button>
       <br/>
        </form>
        </div>
    </div>
</body>
